@mixin circle-shape($xTranslation) {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  border: solid 8px white;
  border-radius: 100%;
  opacity: 10%;
  transform: translate($xTranslation);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

input[type="range"][orient="vertical"] {
  position: absolute;
  -webkit-appearance: slider-vertical;
  height: 50%;
  width: 7.5%;
  left: 0;
  margin: 0;
}

.lines {
  display: flex;
  height: 100%;
  width: 100%;
}

.lines--spinning1 {
  position: absolute;
  animation: spin 10s ease-in-out infinite;
}

.lines--spinning2 {
  position: absolute;
  animation: spin 8s ease-in-out infinite;
}

.lines--spinning3 {
  position: absolute;
  animation: spin 12s ease-in-out infinite;
}

.lines--spinning3 {
  position: absolute;
  animation: spin 16s ease-in-out infinite;
}

.lines--spinning4 {
  position: absolute;
  animation: spin 12s linear infinite;
}

.circle1 {
  @include circle-shape(20%);
}

.circle2 {
  @include circle-shape(-20%);
}

.border {
  position: absolute;
  width: 85%;
  height: 0;
  padding-bottom: 85%;
  border: solid 800px white;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
